# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/
.vscode/

# Система сборки
/build/
/dist/

# Логи
*.log

# Файлы окружения
.env

# Прочие временные файлы
*.bak

